{% extends 'base.html' %}

{% block content %}

<div class="jumbotron mt-2">
  <div class="jumbo" style="display: flex;flex-direction: row; justify-content:space-around;">
    <div style="width: 40%;height:40%;">
      <img src="../../../static/bg.jpg" alt="Nice pic" class="img-thumbnail">
    </div>
    <div>
      <h1 class="display-4" >Hello, Hunter</h1>
      <p class="lead">Show your product or explore new ones!!!</p>
    </div>
  </div>
  <hr class="my-4">
  <a class="btn btn-primary btn-lg" href="{% url 'create' %}" role="button">Create Product</a>
</div>

{% for product in products %}

<div class="row mt-3 p-2 product-box"
  style="display: flex;justify-content: space-around;align-items: center;border: 1px solid #cecece;border-radius: 3px;"
>
  <div class="col-2"  onclick="window.location='{% url 'detail' product.id %}';" style="cursor: pointer;">
    <img src="{{ product.icon.url }}" class="img-thumbnail" />
  </div>
  <div class="col-7"  onclick="window.location='{% url 'detail' product.id %}';" style="cursor: pointer;">
    <h3 style="color: #a8a6a6">{{product.title}}</h3>
    <p style="color: #cecece">{{product.summary}}</p>
  </div>
  <div class="col-3">
    <a href="javascript:{document.getElementById('upvote{{product.id}}').submit()}"><button class="btn btn-lg btn-block" style="background-color: #dddddd; color: #e8684e;" ><span class="oi oi-caret-top"></span>UpVote {{ product.votes_total }}</button></a>
  </div>
</div>


<form id="upvote{{product.id}}" method="POST" action="{% url 'upvote' product.id %}">
  {% csrf_token %}
  <input type="hidden">
</form>
{% endfor %}
{% endblock %}
